.lane.thief
  .target.thief
  #thief.hero.thief{ "data-attack" => guard.attack, "data-defense" => guard.defense }
    = image_tag Classification.sword.default_icon.url(:thumb), :class => "icon"
    %span.shortcut (#{key})
    %span.name Thief
    = render "heroes/inline_stats", :hero => guard

  .zone.thief
    .crit