.lane.warrior
  .target.warrior &middot;
  #warrior.hero.warrior{ "data-attack" => guard.attack, "data-defense" => guard.defense }
    = image_tag Classification.shield.default_icon.url(:thumb), :class => "icon"
    %span.name Warrior
    = render "heroes/inline_stats", :hero => guard

  .zone.warrior
    .crit