#active-forge.active-forge

  %h2.title Maker's Mark!
  
  #bar-container
    
    #bar

  - 1.times do |i|
    .checkpoint{ :id => "checkpoint-#{i}" }
      .marker
      = link_to image_tag("forge_checkpoint.png"), "javascript:void(0)", "data-external" => :true

  .instructions Press spacebar to trigger the forge at the right time for exceptional craftsmanship