#active-forge.active-forge
  
  #bar-container
    
    #bar

  - 1.times do |i|
    .checkpoint{ :id => "checkpoint-#{i}" }
      .marker
      = link_to image_tag("active_forge.gif"), "javascript:void(0)", "data-external" => :true