.funds
  %span.stat Funds:
  %span.amount
    - if forge.requires_funding?
      = number_with_delimiter(forge.funds)
    - else
      %span.infinite &#8734;
  = image_tag "coin.png", :class => "icon"