.placeholder

  %p (Placeholder -- an interactive map with the zones and mines located. Unavailable zones are covered with fog-of-war, and some mines in the visible zones are greyed out.) 
    
  %ul
    - @zones.each do |zone|
      %li
        %h4.zone= zone
        
        %ul

          - zone.mines.each do |mine|
            %li
              = link_to mine, map_path(mine), "data-mine-id" => mine.id
              - if current_player.forge_for(mine).try(:complete?)
                Complete!
    