#splash-page.inset

  #join-mailing-list
    
    .col-content
  
      = image_tag "tagline.png", :id => "tagline"

      %h2 Coming Soon

      %p Get a single email as soon as you can play it:


  #teaser

    = image_tag "tease.png", :id => "tease-image"
    
