
:javascript

  if(window.navigator.standalone) {
    $(function () {
      
      $('a').live('click', function () {
        var uri = $(this).attr('href');
        window.location = uri;
        return false;
      });
      
    })
  }