#equipper.container

  .loot-wrap

    = render "items/loot", :loot => @loot

  .explain
    
    - if @loot.equipped?
      %p This item is equipped!

    - else
      %p Select an enabled slot below to equip this item

  .heroes-wrap
    = render "heroes/heroes", :player => current_player, :loot => @loot

:javascript
  
  $(function () {
    appView.bindPopovers()
  })