#game
  
  #tiles

    - for t in @game.tiles
      
      .tile{ :id => dom_id(t), :class => t.to_ore, "data-x" => t.x, "data-y" => t.y, "data-ore" => t.to_ore }
        = image_tag(t.ore.tile, :class => t.to_ore)