#settings.hidden
  .settings-menu
    %h3 Menu

    %ul
      %li
        = link_to "Reload Game", "javascript:window.location.reload();"
      %li
        = link_to "Home", root_path
      %li
        = link_to "Armory", armory_index_path