#settings.hidden
  .settings-menu

    %ul
      %li 
        = link_to "Codex", tooltips_path, :rel => "tooltip"
      %li
        = link_to "Refresh", "javascript:window.location.reload();"
      %li
        = link_to "Home", root_path
      %li
        = link_to "Armory", armory_index_path

:javascript

  tooltipView.bindTooltips()