.battle-stub

  %h4 
    %span{ :class => battle.first_player.to_css_class }= battle.first_player
    vs
    %span{ :class => battle.second_player.to_css_class }= battle.second_player

  = link_to "Resume Battle", battle_path(battle), :class => "btn primary"