@import "base";

#armory-page {
  margin: 10px;

  background: image_url("sidebar-fade.png") -10px top no-repeat;
  min-height: 768px;

  .sidebar {

    padding-top: 60px;
    
    legend {
      margin-left: 0;
      padding-left: 0;
      font-size: 16px;
      color: $highlight-color;
    }

    .inputs-list {
      li {
        @include inset;
        padding: 3px 5px;
        padding-right: 0;
        margin-bottom: 3px;
        width: 110px;
      }
    }

    label {
      text-align: left;
    }

    .icon {
      width: 20px;
      vertical-align: -5px;
    }
  }

  .create-item {
    float: right;
  }
}

.editable {
  input {
    width: 30px;
    text-align: center;
  }
}

#items-content {
  padding: 20px;
}

#item-content {
  padding: 20px;

  .art {
    float: right;
    padding: 10px;
    @include inset;
    text-align: center;

    img {
      max-width: 160px;
    }
  }

  .heading {
    .icon {
      vertical-align: -12px;
    }
  }
 
  .description {
    font-size: 125%;
    font-style: oblique;
    margin-bottom: 20px;
  }

  .story {
    .editable {
      white-space: pre-line;  
    }
  }
}

.item-table {

  .icon {
    width: 20px;
  }

  .name {
    font-size: 125%;

    .icon {
      vertical-align: -5px;
    }
  }

}

#breadcrumbs {
  @include gutter;

  li {
    list-style-type: none;
    display: inline;
    float: left;
    padding: 5px 5px 5px 10px;
  }
}


#loot-spotlight {
  padding: 20px;
}