@import "base";

#class-nav {
  @include column(4, true);
}

.class-nav {
  padding: 20px 0;
  margin: 0;
  margin-top: 63px;

  li {
    display: block;
    padding: 10px 0 10px 20px;
    font-size: 125%;

    &.selected {
      background: #272727;
    }
    
    .class-icon {
      img {
        width: 25px;
        margin-right: 5px;
        vertical-align: -7px;
      }
    }

  }
}

.ore-nav {

  @include gutter;

  li {
    list-style-type: none;
    display: inline;
    float: left;
    padding: 20px;

    a {
      &:hover {
        border: 0;
      }
    }

    &.ui-tabs-selected {
      background: #272727;
    }

    .ore-icon {
      img {
        width: 25px;
        margin-right: 5px;
        vertical-align: -7px;
      }
    }
  }
}

#add-item-button {
  float: right;
} 

#new-item {
  padding: 20px;
}

#armory {
  @include inset;
  @include clearfix;
  margin-bottom: 20px;
}

#armory-content {
  @include column(20, true);
  padding-right: 10px;
  background: #272727;
  min-height: 500px;
}

#items-content {
  padding: 20px;
}

#item-content {
  padding: 20px;

  .art {
    float: right;
    padding: 10px;
    @include inset;
    text-align: center;

    img {
      max-width: 160px;
    }
  }

  .heading {
    .icon {
      vertical-align: -12px;
    }
  }
 
  .description {
    font-size: 125%;
    font-style: oblique;
    margin-bottom: 20px;
  }

  .story {
    .editable {
      white-space: pre-line;  
    }
  }
}

.item-table {
  .name {
    font-size: 125%;

    .icon {
      width: 20px;
      vertical-align: -5px;
    }
  }
}

#breadcrumbs {
  @include gutter;

  li {
    list-style-type: none;
    display: inline;
    float: left;
    padding: 5px 5px 5px 10px;
  }
}


#loot-spotlight {
  padding: 20px;
}