@import "blueprint";
@import "base";

html {
  height: 100%;
  overflow: hidden;
}

body {
  
  @include blueprint(true);
  @include forgecraft;

  padding-top: 1px;

  height: 100%;
  overflow: hidden;

}

#loading {
  display: none;
  position: fixed;
  top: 10px;
  left: 49%;
}

#profile {
  position: fixed;
  right: -5px;
  top: -3px;
  @include inset;
  width: $sidebar-width + 5px;
  height: $profile-height;
  padding: 10px 0 0 0;

  .inner {
    padding: 0 10px;
  }

  .welcome {
    float: left;
  }

  .actions {
    float: right;
  }
}

#flash-wrap {
  width: 100%;
  position: fixed;
  top: -3px;

  .flash {
    display: block;
    width: 75%;
    margin: 0 auto;
    text-align: center;
  }
}

#navigation {
  position: fixed;
  right: 10px;
  top: -3px;
  @include inset;
  width: $sidebar-width - 10px;
  height: $profile-height;
  padding: 0;

  li {
    display: inline;
    float: left;

    a {
      display: block;
      float: left;
      width: $profile-height;
      height: $profile-height;
      margin-right: 10px;
      text-indent: -2000em;

      &.profile {
        background: image_url('menu/profile.png') center center no-repeat;
      }

      &.armory {
        background: image_url('menu/loot.png') center center no-repeat;
      }

      &.forge {
        background: image_url('menu/turn.png') center center no-repeat; 
      }

      &.heroes {
        background: image_url('menu/attack.png') center center no-repeat;
      }

      &.last {
        margin-right: 0;
      }
    }
  }
}

#content {
  height: 100%;
  padding-top: 1px;
}

#footer {
}