@import "base";

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  
  @include forgecraft;

  padding-top: 40px;

}

table {
  
  td {
    border-color: $dark-border-color;
  }
}

.clear {
  clear: both;
}

.sep {
  height:2px;
  margin-bottom: 20px;
  @include inset;
}

#content {
}

#splash-message {
  position: absolute;
  width: 100%;
  overflow: visible;
  top: 30%;
  text-align: center;
  font-weight: bold;
  color: $highlight-color;
  display: none;
  margin: 0 auto;
  @include transition-property("font-size");
  @include transition-duration("0.2s");
  z-index: 10000
}

#footer {
}

.view-templates {
  display: none;
}