@import "blueprint";
@import "base";

html {
  height: 100%;
}

body {
  
  @include blueprint(true);
  @include forgecraft;

  padding-top: 1px;

  height: 100%;

}

#loading {
  display: none;
  position: fixed;
  top: 10px;
  left: 49%;
}

#profile {
  position: fixed;
  right: 10px;
  top: -3px;
  @include inset;

  height: $profile-height;
  padding: 10px 20px 0 20px;

  .action {
    margin-left: 20px;
  }
}

#flash-wrap {
  width: 100%;
  position: fixed;
  top: -3px;

  .flash {
    display: block;
    width: 75%;
    margin: 0 auto;
    text-align: center;
  }
}


#content {
  height: 100%;
  padding-top: 1px;
}

#footer {
}