#codex {
  
  .ore, .classification {
    float: left;
    width: 100px;
    text-align: center;
  }

  .classifications .explain {
    text-align: center;
  }

  .tooltips {

    .tooltip-list {
      margin-top: 10px;

      li {
        list-style-type: none;
        font-size: 110%;
        margin-bottom: 10px;
      }
    }
    
  }

}  

#tooltip {
  .back {
    float: left;
    margin-top: -40px;
  }

  .title {
    text-align: center;
  }

}
