@import "base";

$attack-width: 64px;
$attack-height: 64px;
$rows: 8;
$cols: 8;

$warrior-attack1: yellow;
$warrior-attack2: $warrior-color;
$thief-attack1: $set-color;
$thief-attack2: $thief-color;
$ranger-attack: $ranger-color;

@mixin lifebar ($color) {
  
  @include inset;
  height: 10px;
  width: 90%;
  overflow: hidden;
  margin-bottom: 10px;

  .bar {
    background: $color;
    width: 100%;
    height: 10px;
    @include border-radius(5px);
  }
  
}

@mixin attack_icons {

  &.warrior1 {
    .icon {
      border-color: $warrior-attack1;
      background: image_url('battle/Warrior1.png') center no-repeat;
    }
  }

  &.shieldbash {
    .icon {
      border-color: $warrior-attack2;
      background: image_url('battle/ShieldBash.png') center no-repeat;
    }
  }

  &.thief1 {
    .icon {
      border-color: $thief-attack1;
      background: image_url('battle/Thief1.png') center no-repeat;
    }
  }

  &.thief2 {
    .icon {
      border-color: $thief-attack2;
      background: image_url('battle/Thief2.png') center no-repeat;
    }
  }

  &.ranger {
    .icon {
      border-color: $ranger-attack;
      background: image_url('battle/Ranger1.png') center no-repeat;
    }
  }
  
}

#enemy {

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  #sidebar {
    float: right;
    width: $sidebar-width;
    @include inset;
    @include border-radius(0);
    padding-left: 10px;
    padding-bottom: 20px;

    .progress-wrap {
      margin-bottom: 20px;
    }

    .section {
      @include clearfix;
      margin-bottom: 20px;
    }

    .title {
      text-transform: uppercase;
      font-size: 90%;
    }

    #timer {

      .counter {
        float: right;
        font-size: 400%;
        color: $highlight-color;
        margin-right: 20px;
        line-height: 1;
      }
    }

    #defense {
      .stat {
        float: right;
        margin-right: 20px;
      }
      .val {
        font-size: 300%;
        line-height: 1;
        color: $highlight-color;
      }
    }

    #legend {
      .attack-list {
        margin: 0;
        padding: 0;

        li {
          @include clearfix;
          list-style-type: none;
          margin-bottom: 10px;
        }

        .damage {
          font-weight: bold;
          color: $highlight-color;
        }
      }

      .att {
        .icon {
          @include inset;
          margin-right: 10px;
          float: left;
          width: $attack-width;
          height: $attack-height;
          border: solid 2px #ccc;
        }

        @include attack_icons;

      }
    }

  }

  #battle {
    position: fixed;
    #pre-battle {
      display: none;
    }

    &.pre {
      #pre-battle {
        display: block;
      }
      #attacks, #player {
        display: none;
      }
    }
  }

  #pre-battle {
    .hero-col {
      width: 150px;
    }
  }

  .message {
    line-height: 1.2em;
    margin-bottom: 20px;
    text-align: center;
  }

  #warning {
    padding: 40px;
    text-align: center;
  }

  .warning {
    line-height: 1.2em;
    margin-bottom: 20px;
  }

  
  .enemy {
    padding: 20px;
    margin-bottom: 20px;

    .name {
      font-size: 300%;
      font-weight: bold;
      line-height: 1;
    }

    #enemy-lifebar {
      @include lifebar($enemy-color);
    }

    .inline-stats {
      text-align: center;

      .stat {
        font-size: 200%;
        color: $highlight-color;
      }

      .type-icon {
        width: 15px;
        vertical-align: -1px;
        margin-right: 10px
      }
    }
  }

  #grid {

    display: none;
    margin: 0 auto;
    width: $attack-width * $cols;
    height: $attack-height * $rows;
    overflow: hidden;

    .attack {
      width: $attack-width;
      height: $attack-height;
      position: absolute;
      top: -$attack-height;

      .icon {
        @include inset;
        display: block;
        width: $attack-width - 4;
        height: $attack-height - 4;
        margin: 2px;
      }

      @include attack_icons;

      &.matched {
        .icon {
          border: solid 1px #fff;
          margin: 1px;
        }
      }
    }

  }
  
  #player {
    padding: 10px 20px;

    #player-lifebar {
      @include lifebar($player-color);
    }

  }
  
}
