
#equipper {
  
  .loot-wrap {
    display: block;
    width: 250px;
    margin: 10px auto 20px auto;
  }

  .explanation {
    text-align: center;
    font-size: 175%;
    margin-bottom: 20px;
  }

}