
$tile-dim: 64px;

#game {

  display: block;
  width: 1024px;
  height: 768px;
  margin: 0 auto;

  #tiles {
    display: block;
    width: 12*$tile-dim;
    height: 12*$tile-dim;
    overflow: hidden;
  }
  
  .tile {

    float: left;
    display: block;
    width: $tile-dim;
    height: $tile-dim;
    position: absolute;
    top: -$tile-dim;
    
    img {
      width: $tile-dim;
      height: $tile-dim;
      margin: 0;
      padding: 0;
    }

    &.forgeable {
      background-color: rgba(100,100,100,0.2);
      /* border: solid 1px #fff; */

      &.top {
        border-top: none;  
      }
      &.right {
        border-right: none;  
      }
      &.bottom {
        border-bottom: none;  
      }
      &.left {
        border-left: none;  
      }
    }
  }
}