@import "base";

#heroes-page {
  margin: $content-top 10px;
}

.heroes {
  
  .hero {

    margin-bottom: 10px;

    .inner {
      @include inset;
      padding: 10px;
    }

    .name {
      margin-bottom: 0;
    }

    .stats {

      .stat {
        text-align: center;
      }

      .type-icon {
        height: 20px;
        width: 20px;
        margin-left: 5px;
        margin-right: 10px;
      }
      
      .val {
        font-size: 250%;
        line-height: 1;
        color: $highlight-color;
      }
    }

    .equipment {
      @include clearfix;
      margin-bottom: 10px;
    }

    .slots {
      @include clearfix;
    }

    .explain {
      @include clearfix;
    }

    .slot-spacer {
      display: block;
      float: left;
      width: 50px;
      height: 20px;
      margin-right: 10px;
      margin-left: 10px;
      text-align: center;
      color: darken($highlight-color, 70%);

      &.enabled {
        font-weight: bold;
        color: $highlight-color;
      }
    }

    .slot {
      width: 50px;
      height: 50px;
      @include inset;
      cursor: pointer;
      display: block;
      float: left;
      margin-right: 10px;
      margin-left: 10px;

      &.enabled {
        margin-right: 9px;
        margin-left: 9px;
        border: solid 1px $advanced-color;
      }

      &.disabled {
        @include opacity(0.5);
      }

      &.common {
        margin-right: 9px;
        margin-left: 9px;
        border: solid 1px $common-color;
        background-color: rgba($common-color, 0.5);
      }

      &.advanced {
        margin-right: 9px;
        margin-left: 9px;
        border: solid 1px $advanced-color;
        background-color: rgba($advanced-color, 0.5);
      }

      &.rare {
        margin-right: 9px;
        margin-left: 9px;
        border: solid 1px $rare-color;
        background-color: rgba($rare-color, 0.5);
      }

      &.epic {
        margin-right: 9px;
        margin-left: 9px;
        border: solid 1px $epic-color;
        background-color: rgba($epic-color, 0.5);
      }

      &.itemset {
        margin-right: 9px;
        margin-left: 9px;
        border: solid 1px $set-color;
        background-color: rgba($set-color, 0.5);
      }

      .equipped-item {
        height: 46px;
        width: 46px;
        margin-top: 2px;
        margin-left: 2px;

        img {
          height: 46px;
          width: 46px;
        }
      }

      .diff {
        position: relative;
        width: 30px;
        height: 10px;
        margin-bottom: -10px;
        margin-right: -30px;
        top: 29px;
        left: 18px;
        font-weight: bold;
        text-align: right;
        font-size: 141%;

        .positive {
          color: $advanced-color;
        }

        .negative {
          color: $blood-color;
        }
      }
    }
  }

}

.warrior {
  
  .name {
    @include warrior;
  }

}

.thief {
  
  .name {
    @include thief;
  }

}

.ranger {
  
  .name {
    @include ranger;
  }
}