@import "base";

.loot {

  border: solid 1px;
  @include border-radius(5px);
  cursor: pointer;

  &.common {
    border-color: rgba($common-color, 0.1);
    background-color: rgba($common-color, 0.1);
  }

  &.advanced {
    border-color: rgba($advanced-color, 0.1);
    background-color: rgba($advanced-color, 0.1);
  }

  &.rare {
    border-color: rgba($rare-color, 0.1);
    background-color: rgba($rare-color, 0.1);
  }

  &.epic {
    border-color: rgba($epic-color, 0.1);
    background-color: rgba($epic-color, 0.1);
  }

  &.itemset {
    border-color: rgba($set-color, 0.1);
    background-color: rgba($set-color, 0.1);
  }

  height: 50px;
  padding: 10px;
  margin-bottom: 2px;

  .icon {
    float: left;
    margin-right: 10px !important;
    width: 50px;
    height: 50px;
  }

  .sell-action {
    float: right;
    display: block;
    width: 32px;
    height: 32px;
    margin-top: 23px;
    margin-bottom: -55px;
  }

  .level {
    display: block;
    position: relative;
    top: 37px;
    left: 14px;
    width: 30px;
    height: 10px;
    margin-right: -10px;
    margin-bottom: -10px;
    text-align: right;

    color: $text-color;
    font-size: 69%;
    margin-left: 10px;

    .val {
      font-size: 175%;
      color: $highlight-color;
    }
  }

  .name {
    margin-bottom: 0;
  }

  .stats {
    font-size: 175%;
    line-height: 1;
    color: $highlight-color;
    margin-left: 10px;
  }

  .type-icon {
    width: 12px;
  }

  &.ui-draggable {
    z-index: 1000
  }

}

.loot-with-icon {
  .item-icon {
    width: 20px;
    height: 20px;
    margin-right: 2px;
    vertical-align: -3px;
  }
}

.loot-list {
  margin: 0;
  padding: 0;
  li {
    display: block;
  }
}