#menu {

  .settings-menu {
    margin: 0 auto;
    width: 200px;
  }

  ul {
    margin: 0;
    margin-top: 20px;
  }

  li {
    list-style-type: none;
    margin-bottom: 10px;

    .btn {
      width: 150px;
      text-align: center;
    }
  } 

  .edit_player {
  }

}