@import "base";

.player-slug {
  
  .level {
    font-size: 40%;
  }

  .title {
    font-size: 60%;
    font-weight: bold;
  }

}

#player-page {

  padding-top: 20px;

  .player {

    .name {
      font-weight: bold;
      color: $player-color;
      overflow: hidden;
    }

    .level {
      float: right;
      line-height: 1;
      .value {
        font-size: 250%;
        color: $highlight-color;
      }
    }

    table.stats {
      td {
        padding: 4px 10px 3px;
      }
      .value {
        text-align: right;
        font-weight: bold;
        font-size: 110%;
      }

      .score {
        color: $highlight-color;
      }
    }

  }

  .personalization {
    
    @include inset;
    padding: 10px;
    margin-top: 10px;

    &.unspent {
      @include glow($rare-color);

      .remaining {
        font-size: 150%;
        font-weight: bold;
        color: $advanced-color;
      }
    }

    table {
      td {
        text-align: center;
        vertical-align: bottom;
        border: 0;
      }
    }

    .skill {
      .value {
        display: block;
        color: $highlight-color;
        font-size: 250%;
        line-height: 1;
      }

      .name {
        .tooltip {
          vertical-align: -2px;
        }
      }
    }

    .accessory {
      .slot {
        @include glow($rare-color);
      }
    }

    .slot {
      @include inset;
      width: 60px;
      height: 60px;
      margin: 0 auto;
      text-indent: -2000em;

      &.empty {
        text-indent: 0;       
        font-size: 200%;
        color: #ccc;
        text-align: center;
      }

      &.final {
        @include glow($set-color);
      }
    }

    .final {
      width: 100px;
      height: 100px;
    }
  }

  .heading {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .section {
    margin-bottom: 20px;
  }

  .exceptional-loot {
    margin-bottom: 10px;
  }

  .practice {
    float: right;
    margin-top: 10px;
    padding: 3px 5px;
    font-size: 12px;
  }

  #new_event {
    margin-bottom: 0;
  }

}

#ladder-page {
  
  #ladder {
    
    .name {
      font-weight: bold;
    }
    
  }
}