@import "base";

.player-slug {
  
  .level {
    font-size: 40%;
  }

  .title {
    font-size: 60%;
    font-weight: bold;
  }

}

#player-page {

  padding-top: 20px;

  .heading {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .player {
    font-size: 500%;
    border-bottom: solid 1px $highlight-color;
    margin-bottom: 0;
  }

  table.completion {

    text-align: center;
    @include clearfix;
    margin-bottom: 20px;
    vertical-align: bottom;

    td {
      vertical-align: bottom;
      border: 0;
      padding: 20px 0;
    }

    .count {
      font-size: 400%;
    }

  }

}

#ladder-page {

  @include inset;
  
  #ladder {
    
    .name {
      font-weight: bold;
    }
    
  }
}