@import "base";

#login-page, #register-page {
  display: block;
  width: 600px;
  margin: 0 auto;
}

#login-form, #register-form {
  @include inset;
  display: block;
  width: 500px;
  margin: 50px auto;

  div {
    margin-bottom: 10px;
  }
}