
%ul.ore-nav
  
  - for ore in Ore.all

    %li
      = link_to image_tag("ores/#{ore.to_asset}.png") + ore, armory_items_path(classification, :ore => ore.to_param), :title => ore, :class => "ore-icon"