
%ul.ore-nav
  
  - for ore in Ore.browsable

    %li
      = link_to image_tag(ore.tile) + "#{ore} (#{Item.item_count(classification, ore)})", armory_ore_path(classification, ore), :title => ore, :class => "ore-icon"