
#armory.container-fluid

  #class-nav.sidebar

    = render "shared/class_nav"
  
  #armory-content.content
    
    = render "ore_nav", :classification => @classification

    = render "items/table", :items => @classification.items