#armory-filter.form_stacked
  
  %ul.inputs-list
    - Classification.all.each do |c|
      - selected = (params[:classification].to_s == c.id.to_s)
      %li
        %label.class-label{ :id => dom_id(c, 'label'), :for => dom_id(c), :class => ("selected" if selected) }
          %input{ :id => dom_id(c), :class => "selector", :rel => :filter, :type => :radio, :name => "classification", :value => c.id, :checked => selected }
          %span
            = image_tag(c.default_icon.url(:tiny), :class => "icon")
            = c

  .clearfix