
#items-content

  - if admin?
    = link_to "Add Item", new_armory_item_path(@class, :ore => @ore.to_param), :rel => "modal", :class => "button", :id => "add-item-button"

  %h2 #{@ore} #{@class}

  .items

    = render "table", :items => @items