
#armory-page.container-fluid
  
  .sidebar
    = render "items/filter"

  #armory.content

    - if admin?
      = link_to "Create Item", new_item_path, :class => "btn primary create-item", :"data-external" => true

    %h1#context Armory
    
    #item-table-wrap
      = render "items/table", :items => @items

    - if admin?
      = link_to "Create Item", new_item_path, :class => "btn primary create-item", :"data-external" => true