
.slot.weapon1{ :class => ("enabled" if hero.weapon1_slot.accepts?(loot)) }

.slot.weapon2{ :class => ("enabled" if hero.weapon2_slot.accepts?(loot)) }

.slot.armor{ :class => ("enabled" if hero.armor_slot.accepts?(loot)) }

.slot.leggings{ :class => ("enabled" if hero.leggings_slot.accepts?(loot)) }