
.slot.weapon1{ :class => ("enabled" if loot.present? and loot.equippable?(hero, hero.weapon1_slot)) }

.slot.weapon2{ :class => ("enabled" if loot.present? and loot.equippable?(hero, hero.weapon2_slot)) }

.slot.armor{ :class => ("enabled" if loot.present? and loot.equippable?(hero, hero.armor_slot)) }

.slot.leggings{ :class => ("enabled" if loot.present? and loot.equippable?(hero, hero.leggings_slot)) }