.inline-stats

  %span.stat
    %span.val.attack= number_with_delimiter(hero.attack)
    = image_tag "loot/attack.png", :class => "type-icon"

  %span.stat
    %span.val.defense= number_with_delimiter(hero.defense)
    = image_tag "loot/defense.png", :class => "type-icon"