@import "blueprint";
@import "compass/css3/border-radius";
@import "fancy-buttons";

$background-color: #1b1c1e;
$input-background-color: #777;
$text-color: #aaa;
$highlight-color: #fff;
$hover-color: #AA4444;

$common-color: #fff;
$advanced-color: #1EFF00;
$rare-color: #00B6FF;
$epic-color: #C600FF;
$set-color: #FF8000;


@mixin highlighted-text {
  color: $highlight-color;
}

@mixin inset {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 0.8) inset;
  @include border-radius(5px);
}

@mixin default_padding {
  padding: 20px;
}

@mixin font {
  font-size: 12px/18px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

@mixin button {
  @include fancy-button($rare-color, 100%, 5px, 0px);
  margin-top: 1px;
  padding: 0.45em 1em;
  font-weight: normal;
  @include font;
}

@mixin common {
  color: $common-color;
}

@mixin advanced {
  color: $advanced-color;
}

@mixin rare {
  color: $rare-color;
}

@mixin epic {
  color: $epic-color;
}

@mixin itemset {
  color: $set-color;
}

@mixin rarity {

  .common {
    @include common;
  }

  .advanced {
    @include advanced;
  }

  .rare {
    @include rare;
  }

  .epic {
    @include epic;
  }

  .itemset {
    @include itemset;
  }

  a {

    &.common {
      @include common;
    }

    &.advanced {
      @include advanced;
    }

    &.rare {
      @include rare;
    }

    &.epic {
      @include epic;
    }

    &.itemset {
      @include itemset;
    }

  }
}

@mixin gutter {
  @include clearfix;
  @include inset;
  box-shadow: 0 0px 0 rgba(255, 255, 255, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 0.8) inset;
  @include border-radius(0px);
  margin: 0;
  padding: 0;
  padding-right: 10px;
  width: 100%;
}

@mixin forgecraft {

  @include font;
  background: $background-color asset_url("background.png", image);
  text-align: left;
  color: $text-color;
  text-shadow: #000 1px 1px 1px;
  margin: 0;

  @include rarity;

  #{headings()} {
    font-weight: normal;
    @include highlighted-text;
  }

  .hidden {
    display: none;
  }

  .button {
    @include button;
  }

  a {

    @include highlighted-text;
    text-decoration: none;

    &:hover {
      @include highlighted-text;
      border-bottom: 1px dotted;
    }

    &:visited {
      @include highlighted-text;
    }

    &.button {
      @include button;
    }
  }

  .inset {
    @include inset;
  }

  .col-content {
    @include default_padding;
  }

  label {
    font-weight: normal;
    font-size: 125%;
    color: $rare-color;

    &.error {
      display: block;
    }
  }

  input.text, input[type="text"], input.email, 
  input[type="email"], input.pasword, input[type="password"],
  select {
    background: $input-background-color;
    border: solid 1px $input-background-color;
    color: $highlight-color;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 0.8) inset;
    margin-bottom: 20px;
    font-size: 125%;
    @include border-radius(5px);

    &.error {
      text-align: left;
      font-weight: normal;
      font-size: 100%;
    }
  }

  input.button, input[type="button"], input.submit, input[type="submit"] {
    @include button;
    margin-bottom: 20px;
  }

  .notice, .alert, .error {
    text-align: center;
    text-shadow: none;

    font-size: 125%;
    font-weight: bold;
    @include border-radius(5px);
  }

  #facebox {
    @include inset;
  }

  .ui-tabs-hide {
    display: none;
  }

  table {
    
    th {
      background: none;
    }
  }

  form.editable {
    
    textarea {
      width: 95%;
      display: block;
    }
  }

}

