
$background-color: #1b1c1e;
$text-color: #aaa;
$highlight-color: #fff;
$hover-color: #AA4444;

@mixin highlighted-text {
  color: $highlight-color;
}

#{headings()} {
  font-weight: normal;
  @include highlighted-text;
}

a {
  @include highlighted-text;
  text-decoration: none;

  &:hover {
    color: $hover-color;
  }
}

