@import "compass/utilities/general/clearfix";
@import "compass/css3";

$background-color: #1b1c1e;
$input-background-color: #777;
$text-color: #aaa;
$highlight-color: #fff;
$hover-color: #AA4444;
$light-border-color: #424242;
$dark-border-color: #373737;

$common-color: #fff;
$advanced-color: #1EFF00;
$rare-color: #00B6FF;
$epic-color: #C600FF;
$set-color: #FF8000;
$coin-color: #FEF092;
$blood-color: #920516;

$profile-height: 40px;
$content-top: $profile-height + 20px;
$sidebar-width: 250px;

@mixin highlighted-text {
  color: $highlight-color;
}

@mixin inset {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 0.8) inset;
  @include border-radius(5px);
}

@mixin default_padding {
  padding: 20px;
}

@mixin common {
  color: $common-color !important;
}

@mixin advanced {
  color: $advanced-color !important;
}

@mixin rare {
  color: $rare-color !important;
}

@mixin epic {
  color: $epic-color !important;
}

@mixin itemset {
  color: $set-color !important;
}

@mixin warrior {
  color: $blood-color !important;
}

@mixin thief {
  color: darken($rare-color, 20%) !important;
}

@mixin ranger {
  color: darken($advanced-color, 20%) !important;
}

@mixin rarity {

  .common {
    @include common;
  }

  .advanced {
    @include advanced;
  }

  .rare {
    @include rare;
  }

  .epic {
    @include epic;
  }

  .itemset {
    @include itemset;
  }

  a {

    &.common {
      @include common;
    }

    &.advanced {
      @include advanced;
    }

    &.rare {
      @include rare;
    }

    &.epic {
      @include epic;
    }

    &.itemset {
      @include itemset;
    }

  }
}

@mixin gutter {
  @include clearfix;
  @include inset;
  box-shadow: 0 0px 0 rgba(255, 255, 255, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 0.8) inset;
  @include border-radius(0px);
  margin: 0;
  padding: 0;
  padding-right: 10px;
  width: 100%;
}

@mixin forgecraft {

  background: $background-color asset_url("background.png", image);
  text-align: left;
  color: $text-color;
  text-shadow: #000 1px 1px 1px;
  margin: 0;

  @include rarity;

  #{headings()} {
    font-weight: normal;
    @include highlighted-text;
  }

  .hidden {
    display: none !important;
  }

  a {

    @include highlighted-text;
    text-decoration: none;

    &:hover {
      @include highlighted-text;
    }

    &:visited {
      @include highlighted-text;
    }

  }

  label {
    color: $text-color;
  }

  .inset {
    @include inset;
  }

  .padded {
    @include default_padding;
  }

  .col-content {
    @include default_padding;
  }

  #facebox {
    @include inset;
  }

  .copyright {
    font-size: 90%;
    text-align: center;
    margin-top: 20px;
  }


  /* Bootstrap Overrides */

  .zebra-striped tbody tr:nth-child(odd) td, .zebra-striped tbody tr:nth-child(odd) th {
    background-color: rgba($background-color, 0.7);
  }
  .zebra-striped tbody tr:hover td, .zebra-striped tbody tr:hover th {
    background-color: rgba($background-color, 0.7);
  }

  .popover .inner {
    background: $background-color;
  }

  .popover .title {
    background: $dark-border-color;
  }

  .popover .content {
    background: $light-border-color;
  }

  #facebox {
    .close {
      @include opacity(1);
      background: transparent;
    }    
  }

}

