@import "blueprint";
@import "base";

body {
  
  @include blueprint(true);
  @include forgecraft;

}

#head {
  @include container;

  #branding {
    @include column(8);

    a {
      &:hover {
        border: 0;
      }
    }
  }

  #actions {
    @include column(16, true);
  }

  #logo {
    margin: 30px 0;
  }

  #navigation {
    float: right;

    li {
      display: inline;
      float: left;
      list-style-type: none;

      a {
        display: block;
        padding: 10px 0 10px 20px;
        font-size: 175%;

        &:hover {
          border: 0;
        }
      }
    }
  }

  #profile {
    float: right;
    position: relative;
    @include inset;
    margin-bottom: 4px;

    height: 30px;
    padding: 10px 20px 0 20px;

    .log-out {
      margin-left: 20px;
    }
  }
}

#content {
  @include container;
}

#footer {
  @include container; 
}