@import "blueprint";
@import "base";

body {
  
  @include blueprint(true);
  @include forgecraft;

  background: $background-color asset_url("background.png", image);
  text-align: left;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 12px/18px;
  color: $text-color;
  margin: 0;
  text-shadow: #000 1px 1px 1px;

}

#head {
  @include container;

  #logo {
    margin: 30px 0;
  }

  #navigation {
    float: right;
    margin-top: 45px;

    li {
      display: inline;
      float: left;
      list-style-type: none;

      a {
        display: block;
        padding: 10px 0 10px 20px;
        font-size: 150%;
      }
    }
  }
}

#content {
  @include container;
}

#footer {
  @include container; 
}